* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    font-family: "微软雅黑";
}

#header {
    height: 80px;
    width: 100%;
    background-color: #EFF4F8;
}

#title {
    margin-left: 45px;
    margin-top: 10px;
    font-size: 30px;
    display: inline-block;
    cursor: default;
}

#icon {
    display: inline-block;
}

#text {
    display: inline-block;
    font-size: 20px;
    word-spacing: 1em;
    line-height: 50%;
}

#info {
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-right: 45px;
}

#btn {
    display: inline;
}

button {
    margin-left: 20px;
    font-size: 20px;
    padding: 3px 8px;
}

#navi {
    width: 200px;
    display: inline;
    float: left;
    height: 450px;
    background-color: #EFF4F8;
}

#content {
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
    height: 450px;
}

#footer {
    font-size: 12px;
    text-align: center;
}

a {
    text-decoration: none;
}

ul {
    text-align: center;
}

li {
    list-style: none;
    cursor: pointer;
    line-height: 40px;
}

.firstLi {
    margin: 20px 0;
}

.normalLi {
    margin: 40px 0;
}

#content_info {
    width: 100%;
    height: 100%;
}

#user {
    display: inline;
}
